* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--bg-color);
    text-align: center;
    color: var(--txt-color);
}

.header__info {
    background-color: var(--default-section-color);
    padding: 2.5rem;
}

.title {
    text-align: center;
    margin-top: 2rem;
}

.button-enter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-size {
    font-size: 24pt;
}

.icon-small {
    font-size: 19pt;
}

:root {
    --bg-color:  #161616;
    --txt-color: #fff;
    --default-section-color: #e6e2e2;
    --default-section-padding: 5rem;
}